In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import datetime
%matplotlib inline

In [2]:
#company_dict = {'Bird':0, 'Lyft': 1, 'Gotcha': 2, 'Lime': 3, 'Spin': 4, 'Jump': 5, 'Bolt': 6}

In [3]:
may_location = pd.read_pickle("../data/may.pkl")
may_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20283582 entries, 0 to 20283581
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  datetime64[ns]
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   chargelevel  float64
 5   companyname  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 928.5+ MB

In [4]:
#may_location_csv = pd.read_csv("../data/may.csv")

In [5]:
june_location = pd.read_pickle("../data/june.pkl")

In [6]:
july_location = pd.read_pickle("../data/july.pkl")

In [7]:
may_trip = pd.read_csv('../data/may_trip.csv')

In [8]:
june_trip = pd.read_csv('../data/june_trip.csv')

In [9]:
july_trip = pd.read_csv('../data/july_trip.csv')

may_location_chunk1 =[]

for chunk in pd.read_csv("../data/may.csv", chunksize = 4000):
    may_location_chunk1.append(chunk[chunk['companyname'] == '0']) 

pd.DataFrame(may_location_chunk1)

may_location_chunk2 = []
for chunk in pd.read_csv("../data/may.csv", chunksize = 4000):
    may_location_chunk2.append(chunk[chunk['companyname'] == '3']) 

pd.DataFrame(may_location_chunk2)

    
may_location_chunk3 = []
for chunk in pd.read_csv("../data/may.csv", chunksize = 4000):
    may_location_chunk3.append(chunk[chunk['companyname'] == '4']) 

pd.DataFrame(may_location_chunk3)


all_may_chunks = [may_location_chunk1, may_location_chunk2, may_location_chunk3]

pd.all_may_chunks(A.T.reshape(0, 1), columns=cols)


total_may_location = pd.concat(all_may_chunks)

In [10]:
#trips = [may_trip, june_trip, july_trip]
#total_trips = pd.concat(trips)
#total_trips.head

In [11]:
#locations = [may_location, june_location, july_location]
#total_polled_locations = pd.concat(locations)
#total_polled_locations.head

In [12]:
#total_trips.value_counts('sumdID').head(25)

In [13]:
#total_polled_locations.value_counts('chargelevel').head(25)

In [14]:
# scooters with charge level between 95-100% ---> just dropped off
# scooters with charge level between 0-10% ---> will be picked up

In [15]:
june_filtered = june_location.loc[(june_location.chargelevel == 0.0) | (june_location.chargelevel == 100.00)]
june_filtered.value_counts('chargelevel')
june_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5194183 entries, 3 to 28037403
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  datetime64[ns]
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   chargelevel  float64
 5   companyname  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 277.4+ MB

In [16]:
june_filtered['date'] = june_filtered['pubdatetime'].dt.strftime("%m/%d/%y")

<ipython-input-16-a99c47066d3b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  june_filtered['date'] = june_filtered['pubdatetime'].dt.strftime("%m/%d/%y")

In [17]:
companies = [3]

In [18]:
dates = ['06/1/19']

In [19]:
june_filtered.head()

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname,date
3,2019-06-01 00:00:12,36.1201,-86.7530,Powered71fa5e4f-1e17-54c4-936d-330df38cc2fa,0.0,5,06/01/19
16,2019-06-01 00:00:12,36.1202,-86.7533,Powerede4138a33-4d2e-5ce4-ad3c-9da496472b9d,0.0,5,06/01/19
17,2019-06-01 00:00:12,36.1199,-86.7532,Powered947f9e23-64e9-5dc6-af9c-3980af15c192,0.0,5,06/01/19
23,2019-06-01 00:00:12,36.1198,-86.7532,Powered96fbef92-52d1-586a-b97f-8c6de34b6291,0.0,5,06/01/19
25,2019-06-01 00:00:12,36.1203,-86.7536,Poweredc25cd7bb-3007-5df0-b0c8-606eaf139918,0.0,5,06/01/19

In [20]:
june_filtered.query('date in @dates')

Empty DataFrame
Columns: [pubdatetime, latitude, longitude, sumdid, chargelevel, companyname, date]
Index: []

In [21]:
filtered_june_df = june_filtered.query('companyname in @companies')

In [22]:
filtered_june_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 738475 entries, 2581 to 28037403
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   pubdatetime  738475 non-null  datetime64[ns]
 1   latitude     738475 non-null  float64
 2   longitude    738475 non-null  float64
 3   sumdid       738475 non-null  object
 4   chargelevel  738475 non-null  float64
 5   companyname  738475 non-null  int64
 6   date         738475 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 45.1+ MB

In [23]:
#filtered_may_df = may_filtered.query('pubdatetime' in )

In [24]:
#geo_df = pd.DataFrame(filtered_df)

In [25]:
gdf_june = gpd.GeoDataFrame(
    filtered_june_df, geometry=gpd.points_from_xy(filtered_june_df.longitude, filtered_june_df.latitude))

In [26]:
gdf_june.crs = "EPSG:4326"

In [27]:
gdf_june.geometry = gdf_june.geometry.to_crs('EPSG:4326')

In [28]:
gdf_june.head(5)

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname,date,geometry
2581,2019-06-01 00:03:27.217,36.224033,-86.823593,PoweredYXBSW7L6G6ABR,100.0,3,06/01/19,POINT (-86.82359 36.22403)
2591,2019-06-01 00:03:27.217,36.179376,-86.838468,Powered6GHEMWO6YRJIP,100.0,3,06/01/19,POINT (-86.83847 36.17938)
2616,2019-06-01 00:03:27.220,36.179306,-86.838476,Powered54KEA6DCRAUJI,100.0,3,06/01/19,POINT (-86.83848 36.17931)
2640,2019-06-01 00:03:27.220,36.179390,-86.838447,PoweredBYKFOWELGPKH6,100.0,3,06/01/19,POINT (-86.83845 36.17939)
2672,2019-06-01 00:03:27.220,36.164243,-86.769624,Powered4VG2VR4XATZYG,100.0,3,06/01/19,POINT (-86.76962 36.16424)

In [29]:
zipcodes = gpd.read_file('../../geospatial-python-workshop-kellyrwilliams/data/zipcodes.geojson')
print(zipcodes.crs)
zipcodes.head( )

epsg:4326

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"MULTIPOLYGON (((-86.68725 36.31821, -86.68722 ..."
1,37203,33,NASHVILLE,93532.890729543782,120334624.37817383,"MULTIPOLYGON (((-86.78734 36.16688, -86.78711 ..."
2,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"MULTIPOLYGON (((-86.73451 36.23774, -86.73425 ..."
3,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"MULTIPOLYGON (((-86.77914 36.13424, -86.77923 ..."
4,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"MULTIPOLYGON (((-86.81258 36.06319, -86.81263 ..."

In [30]:
june_scooters_by_zipcodes = gpd.sjoin(gdf_june, zipcodes, op = 'within')

In [45]:
downtown_poly = ['zipcodes.loc[(zipcodes['zip'] == ['37201'])
                 | (zipcodes['zip'] == '37203')
                 | (zipcodes['zip'] == '37204')
                 | (zipcodes['zip'] == '37205')
                 | (zipcodes['zip'] == '37206')
                 | (zipcodes['zip'] == '37207')
                 | (zipcodes['zip'] =='37208')]

SyntaxError: invalid syntax (<ipython-input-45-89f019480371>, line 1)

In [31]:
#for ind, row in may_scooters_by_zipcodes.iterrows():
  #  if row ['chargelevel'] == 100.00:
   #         may_scooters_by_zipcodes.loc[ind, 'batterylevel'] = 'high'
   # else:
   #         may_scooters_by_zipcodes.loc[ind, 'batterylevel'] = 'low'

In [41]:
ax = downtown_poly.plot(figsize=(20,20), color = 'grey', edgecolor = "black")
june_scooters_by_zipcodes.plot(ax = ax, column = 'chargelevel', legend = True, alpha=0.2, markersize=1)
plt.show()

AttributeError: 'bool' object has no attribute 'plot'

In [33]:
#zipcodes.geometry.centroid

In [34]:
#center = zipcodes.geometry.centroid[37]
#print(center)

In [35]:
#area_center = [center.y, center.x]
#print(area_center)

In [36]:
#map_scooters = folium.Map(location =  area_center, zoom_start = 12)
#map_scooters

In [37]:
#draw our zip code area: 37207
#map_scooters = folium.Map(location =  area_center, zoom_start = 12)

#folium.GeoJson(zipcodes).add_to(map_scooters)

#iterate through stops_in_37207 to create locations and markers 
#for each bus stop
#remember for Folium locations, lat is listed first!!

#for row_index, row_values in june_scooters_by_zipcodes.iterrows():
 #   loc = [row_values['latitude'], row_values['longitude']]
  #  pop = str(row_values['chargelevel'])
   # icon = folium.Icon(color = 'red', icon='battery-empty', prefix ='fa')
   # if row_values['chargelevel'] == 0:
      #  icon = folium.Icon(color = 'red', icon='battery-empty', prefix ='fa')
    #else :
     #   icon=folium.Icon(color="green",icon="battery-full", prefix='fa')
        
    
    # marker = folium.Marker(
     #  location = loc, 
     #   popup = pop, icon = icon) 

   # marker.add_to(map_scooters)
#map_scooters.save('../maps/mapscooters.html')

#display our map
#map_scooters